<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAh3bSlj_DkKSPi7HNrmpDQjrCSt5mKNG4</string>
	<key>GCM_SENDER_ID</key>
	<string>899256425483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nwmsu.App-ios</string>
	<key>PROJECT_ID</key>
	<string>loginapp-e119c</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-e119c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899256425483:ios:da91ac6ce7b449ed997b0e</string>
</dict>
</plist>